<mat-list-item class="container"
               [ngClass]="{'priority-normal':item.priority === 3,'priority-important':item.priority === 2,'priority-emergency':item.priority === 1}"
               [app-draggable]="true" [draggedClass]="'drag-start'" [dragTag]="'task-item'" [dragData]="item"
               (click)="onItemClick()" [@item]="widerProiority">
  <mat-checkbox [checked]="item.completed" class="completion-status" (click)="onCheckBoxClick($event)"></mat-checkbox>
  <div class="content" mat-line [ngClass]="{'completed':item.completed}">
    <span matTooltip={{item.desc}}>{{item.desc}}</span>
  </div>
  <div class="bottom-bar" mat-line class="bottom-bar">
    <span class="due-date" *ngIf="item.duedate" class="duedate">
      {{item.duedate | date: 'yy-MM-dd'}}
    </span>
    <mat-icon *ngIf="item.reminder">alarm</mat-icon>
  </div>
  <mat-icon [svgIcon]="avatar" mat-list-avatar class="avatar"></mat-icon>
</mat-list-item>
